<h1>Soy Handlebars </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequuntur corrupti voluptates aliquam nemo,
    cupiditate quo, animi at nisi dicta sapiente totam dignissimos dolorum laboriosam ut amet nulla tenetur ratione.
</p>
<button id="btn">Traer Usuarios</button>

<form id="userForm">
    <div>
        <input type="text" placeholder="nombre, Ej:Horacio">
    </div>
    <button>crear</button>
</form>